#shape {
    width: 50px;
    height: 50px;
    background-color: #FF0000;
    cursor:move;
}
#count {
    font-size: 14px;
    color: #484848;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 1;
}

.dummy {
    width:100%;
    height:100%;
    position: relative;
}

.input-area {
    line-height: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    input {
        display:inline-block;
    }
    div {
        display:inline-block;
    }
}