<div class="dummy">
   <div id="count"><span data-bind="text: connectedUsers"></span> Online</div>
   <div id="shape"></div>
   <div class="input-area">
      <input type="text" data-bind="value: message"><button data-bind="click: sendMessage">Send</button>
      <div>Output: <span data-bind="text: output"></span></div>
   </div>
</div>