﻿@page
@model SignalRChat.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Index</h2>
</body>
</html>