<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Knockout components</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Libs</a>
            </li>

        </ul>
    </div>
</nav>
<main role="main">

    <div class="starter-template">
        <h1>Proof of concept<br> Knockout Components Dashboard</h1>
        <p class="lead">
            Drag & Drop funktionalitet til re arrangere components.<br>
            Samt Knockout´s Custom Components Loading.<br>
            SignalR Hub pooling fra websockets.
        </p>
    </div>

    <div class="dashboard-grid">
        <button class="btn btn-primary btn-sm" data-bind="click: toggleDrag, text: draggable() ? 'Gem':'Soter'">Toggle</button>
        <div id="dashboard-elements">

            <div class="grid-sizer col-sm-3"></div>
            <div class="grid-item col-sm-3" tabindex="0">
                <span class="handle" data-bind="visible: draggable"></span>
                <div class="grid-item-content">
                    1
                </div>
            </div>
            <div class="grid-item col-sm-3" tabindex="1">
                <span class="handle" data-bind="visible: draggable"></span>
                <div class="grid-item-content">
                    2
                </div>
            </div>
            <div class="grid-item col-sm-6" tabindex="2">
                <span class="handle" data-bind="visible: draggable"></span>
                <div class="grid-item-content">
                    <increment params="value: 10, interval: 100">4</increment>
                </div>
            </div>
            <div class="grid-item col-sm-6" tabindex="3">
                <span class="handle" data-bind="visible: draggable"></span>
                <div class="grid-item-content grid-item-content--h2">
                    <dummywidget></dummywidget>
                </div>
            </div>
            <div class="grid-item col-sm-3" tabindex="4">
                <span class="handle" data-bind="visible: draggable"></span>
                <div class="grid-item-content grid-item-content--h2">
                    5
                </div>
            </div>
            <div class="grid-item col-sm-3" tabindex="5">
                <span class="handle" data-bind="visible: draggable"></span>
                <div class="grid-item-content grid-item-content--h2">
                    6
                </div>
            </div>
        </div>
    </div>
</main>