body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.dashboard-grid {
    padding:0 40px;
}


.grid-item {
    outline: none;
    padding:20px;
}
.grid-item--w2 {
    width:50%;
}

.grid-item--w3 {
    width:75%;
}

.grid-item-content {
    height: 150px;
    background: #fff;
    border:1px solid #CACED5;
    color:#4D4F5C;
    font-size: 3rem;
    text-align: center;
    line-height: 150px;
    
}



.grid-item-content--h2 {
    height: 340px;
}

.grid-item-content--h3 {
    height: 550px;
}
.grid-item-content--h4 {
    height: 720px;
}

#main {
    margin-left:250px;
}

/* highlight drag & drop */

/* Draggabilly adds is-dragging */
.grid-item.is-dragging .grid-item-content,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag .grid-item-content {
  background: #EA0;
  z-index: 2; /* keep dragged item on top */
}

.packery-drop-placeholder {
    outline: 2px dashed #444;
    outline-offset: -6px;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
  }

  .handle {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 25px;
    top: 25px;
    background: red;
    cursor: pointer;
    z-index: 999;
  }

  button {
      margin-left:20px;
  }